@import "tailwindcss";

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.page-min-height {
    min-height: calc(100vh - 160px);
}

.nav-min-height {
    min-height: calc(100vh - 80px);
}

.absolute-nav {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    width: 100%;
    height: calc(100vh - 80px);
    background-image: linear-gradient(to bottom, #fecaca, #64748b);
    z-index: 10;
}

/* map iframe */

iframe.map-size {
    height: 400px;
}

@media screen and (min-width: 768px) {
    iframe.map-size {
        height: 600px;
    }
}

/* animations */
